<p>
Flour<input (ngModelChange)="setNewRecipe($event, 'flour')" [(ngModel)]="flour"/>
</p>
  <p>
Bread Flour <input (ngModelChange)="setNewRecipe($event, 'breadFlour')"  [(ngModel)]="breadFlour"/>
</p>
<p>
Water <input (ngModelChange)="setNewRecipe($event, 'water')"  [(ngModel)]="water"/>
</p>
<p>
Salt <input (ngModelChange)="setNewRecipe($event, 'salt')"  [(ngModel)]="salt"/>
</p>
<p>
Konsui <input (ngModelChange)="setNewRecipe($event, 'konsui')"  [(ngModel)]="konsui"/>
</p>
<p>
  Water wt<input [(ngModel)]="waterWeight"/>
</p>
<p>
  Flour prop<input [(ngModel)]="flourProp"/>
</p>
<p>
 Water prop<input [(ngModel)]="waterProp"/>
 </p>
 <p>
   Total wt<input (ngModelChange)="setNewRecipe($event, 'weight')" [(ngModel)]="totalWeight"/>
</p>